.advantages {
  display: block;
}
.advantages-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
.advantages-icons {
  display: flex;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}
.advantages-icons-item {
  width: 70px;
  height: 70px;
}

.advantages-title {
  /* background-color: #fff; */
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  text-transform: uppercase; 
  text-align: center;
}
.advantages-text {
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.7; 
}

//********Mobile only
// @media screen and (max-width:767px){  - before mentor's remark
//   // .advantages {
//   //   display: block;
//   // }
//   // .advantages-item {
//   //   width: 450px;
//   //   }
//     // .advantages-item:not(:last-child){
//     //   margin-bottom: 30px;
//     // }
//     // .advantages-icons {
//     //   width: 450px;
//     // }
//   }

  @media screen and (min-width: 480px) {
    .advantages-item {
      width: 450px;
      }
      .advantages-item:not(:last-child){
        margin-bottom: 30px;
      }
      .advantages-icons {
        width: 450px;
      }
   }

      //**********Tablet
@media screen and (min-width:768px){
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages-item {
    width: 354px;
    }
    .advantages-icons {
      width: 354px;
    }
    .advantages-item:nth-child(2n){
      margin-left: 30px;
    }
    .advantages-title {
      text-align: start;
    }
  }
    

      // ********Desktop
      @media screen and (min-width:1200px){
  .advantages-section {
   padding-top: 94px;
   padding-bottom: 0;
        }
  .advantages {
    flex-wrap: nowrap;
  }
  .advantages-item {
    width: 270px;
    }
    .advantages-item:not(:last-child){
      margin-bottom: 0;
    }
    .advantages .advantages-item + .advantages-item {
      margin-left: 30px;
    }
    .advantages-icons {
      width: 270px;
    }
      }


    //   .advantages-section {
    //     padding-top: 94px;
    //     padding-bottom: 0;
    //   }
    
    // .advantages {
    //   display: flex;
    // }
    // .advantages .advantages-item + .advantages-item {
    //   margin-left: 30px;
    // }
    // .advantages-item {
    // width: 270px;
    // }
    // .advantages-icons {
    //   display: flex;
    //   object-fit: contain;
    //   justify-content: center;
    //   align-items: center;
    //   width: 270px;
    //   height: 120px;
    //   margin-bottom: 30px;
    //   background-color: #F5F4FA;
    // }
    // .advantages-icons-item {
    //   width: 70px;
    //   height: 70px;
    // }
    
    // .advantages-title {
    //   /* background-color: #fff; */
    //   margin-top: 0;
    //   margin-bottom: 10px;
    //   font-weight: 700;
    //   font-size: 14px;
    //   line-height: 1.14;
    //   color: var(--secondary-text-color);
    //   text-transform: uppercase; 
    // }
    // .advantages-text {
    //   margin-bottom: 0px;
    //   margin-top: 0;
    //   font-size: 14px;
    //   line-height: 1.7; 
    // }