.section-team {
    margin-right: auto;
    margin-left: auto;
    padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
} 
.section-team__container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.section-team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  text-align: center; 
} 
.card-set {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
// .card-set__item {
//   background-color: #ffffff;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }
// .card-set__item:not(:last-child) {
//   margin-right: 30px;
// }
.card-set__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

/* .employee {

} */
.employee__image {
  margin-top: 0;
  margin-bottom: 0;
}
.employee__meta {
  padding-top: 30px;
  padding-bottom: 30px;
}
.employee__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  text-align: center;
}
.employee__position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
