 .main-logo {
    display:inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-text-color);
    text-decoration: none; 
  }
  .main-logo--black {
    color: #000000; 
  }
  .main-logo--white {
    color: #ffffff;
  }
  .footer__logo {
    margin-top: 0;
    margin-bottom: 28px; 
   }  
 
  