           /* ::backdrop button  */
          //  .backdrop {
          //   position: fixed;
          //   top: 0;
          //   left: 0;
          //   width: 100vw;
          //   height: 100vh;
          //   scale: 1;
          //   background-color: rgb(0, 0, 0, 0.2);
          //   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
          //   scale 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
          // }
          // .backdrop.is-hidden {
          //   opacity: 0;
          //   visibility: hidden;
          //   pointer-events: none;
          //   scale: 0;
          // }
          .backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            scale: 1;
            background-color: rgb(0, 0, 0, 0.2);
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
            scale 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
            &.is-hidden {
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
              scale: 0;
            }
          }
        
          .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 528px;
            height: 580px;
            padding: 40px;
            background-color: #fff;
          }
          .modal-close-btn {
            position: absolute;
            top: 8px;
            right: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            padding: 0;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
          }
          .modal-close-icon {
            fill: #000000;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
           .modal-close-btn:focus, .modal-close-btn:hover .modal-close-icon {
            fill: #2196F3;
          } 
          
                     /* ВІпадающее окно формы */
          
          .form-title {
          display: block;
          margin-top: 0;
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 12px;
            font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 1.15;
          text-align: center;
          color: #212121;
          }
          .form-field {
            display:block;
            width: 100%;
            margin-bottom: 10px;
            width: 448px;
          height: 58px;
          }
          .form-field-message {
             display:block;
            width: 100%;
            margin-bottom: 20px;
            width: 448px;
          height: 138px;
          }
          .form-contact-inscription {
            margin-bottom: 4px;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 1.16;
          color: #757575;
          }
          .form-field-input-wrapper {
            position: relative;
            display: block;
            margin-bottom: 10px;
          }
          .form-input {
            width: 100%;
            height: 40px;
            padding-left: 42px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            transition: border-color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
          }
          .form-input:focus, .form-user-message:focus { 
            outline: none;
            border-color: #2196F3;
           }
           .form-input:focus +.form-input-icon {
            fill: #2196F3;
           }
          .form-input-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 12px;
            width: 18px;
            height: 18px;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          // .form-user-message {
          //   width: 100%;
          //   height: 120px;
          //   margin-bottom: 20px;
          //   padding: 12px 16px;
          //   border: 1px solid rgba(33, 33, 33, 0.2);
          //   border-radius: 4px;
          //   resize: none;
          //   transition: border-color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
          // }
          // .form-user-message::placeholder {
          //   font-style: normal;
          // font-weight: 400;
          // font-size: 12px;
          // line-height: 1.14;
          // color: rgba(117, 117, 117, 0.5);
          // }

          .form-user-message {
            width: 100%;
            height: 120px;
            margin-bottom: 20px;
            padding: 12px 16px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            resize: none;
            transition: border-color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
            &::placeholder {
              font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.14;
            color: rgba(117, 117, 117, 0.5);
            }
          }
        
       
       
          .form-agreement-wrapper {
            display: flex;
            margin-bottom: 30px;
            margin-left: 20px;
          }
          // .form-agreement-field {
          // display: flex;
          // align-items: center;
          // }
          // /* добавляем пустой  квадрат рядом с чекбоксом */
          // .form-agreement-field::before {
          //   display: inline-block;
          //   content: "";
          //   width: 16px;
          //   height: 16px;
          //   margin-right: 10px;
          //   outline: 1px solid #212121;
          // }

          .form-agreement-field {
            display: flex;
            align-items: center;
              /* добавляем пустой  квадрат рядом с чекбоксом */
              &::before {
                display: inline-block;
                content: "";
                width: 16px;
                height: 16px;
                margin-right: 10px;
                outline: 1px solid #212121;
              }
            }
            

          .form-agreement-input {
            margin-right: 8px;
            fill: #212121;
          }
          
          
          /* Сделать интерактивным скрытый снизу чекбокс,чтобы
          кликая на его соседа,на скрытый чек применялся фокус */
          .form-agreement-input:focus + .form-agreement-field::before {
            outline: 1px solid #2196F3;
          }
          /* изменить у before св-во,если его сосед отмечен(чект) */
          .form-agreement-input:checked + .form-agreement-field::before {
          background-image: url(../images/icon\ check.svg);
          } 
          .form-agreement-text {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 1.7;
          color: rgba(117, 117, 117, 1);
          }
          .form-agreement-text-part {
            text-decoration-line: underline;
            color: #2196F3;
          }
          .form-btn {
          display: block;
          margin-top: 0;
          margin-bottom: 0;
          margin-left: auto;
          margin-right: auto;
          padding: 10px 50px;
          border-radius: 4px;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 1.8;
          color: #FFFFFF;
          background-color: #2196F3;
          }
                 /* End of Выпадающая форма */