body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    // font-family: 'Roboto', sans-serif;
    font-family: var(--main-font);
    }
    p, ul, ol,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
      margin-bottom: 0;
     }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    img {
      display: block;
    }
    .pointer {
      cursor: pointer;
    }
    .flex-added { 
      display: flex;
      align-items: center;
    } 
    .section {
      padding-top: 94px;
      padding-bottom: 94px;
    } 
    .hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
   
    