// .container {
//     margin: 0 auto;
//     padding-left: 15px;
//     padding-right: 15px;
//     width: 1200px;
//   }
//end
 
 .container {
  padding-left: 15px;
  padding-right: 15px;
 }
 //480+
 @media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 450px;
    // background-color: rgb(223, 91, 91);
    outline: 1px solid #212121;
  }
 }
 //768+ 
 @media screen and (min-width: 768px) {
  .container {
 width: 738px;
 border: 1px solid #6f56ca; 
  }
 }
 //1200+
 @media screen and (min-width: 1200px) {
  .container {
 width: 1170px;
 border: 1px solid #708ba1; 
  }
 
 }
 