// .container {
//     margin: 0 auto;
//     padding-left: 15px;
//     padding-right: 15px;
//     width: 1200px;
//   }
//end
 
 .container {
  padding-left: 15px;
  padding-right: 15px;
 }
 //480+
 @media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 480px;
  }
 }
 //768+ 
 @media screen and (min-width: 768px) {
  .container {
 width: 768px; 
  }
 }
 //1200+
 @media screen and (min-width: 1200px) {
  .container {
 width: 1200px;
  }
 
 }

//  //********Mobile only
// @media screen and (max-width:767px){

// }


//     //**********Tablet
// @media screen and (min-width:768px){

//   }
  

//     // ********Desktop
//     @media screen and (min-width:1200px){
    
//     }
 